.categories {
  padding-bottom: 20px;
}

.categories__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.categories__filter {
}
